$max-width: 1440px;
$font: "IM Fell English SC", serif;

body {
  max-width: $max-width;
  margin: 0 auto;
}

header {
  background-color: rgba(255, 255, 255, 0.918);
  z-index: 100;
  position: sticky;
  top: 0; 
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-family: "Festive", cursive;
  }
  h1:hover {
    color: rgba(5, 16, 55, 0.1);
    cursor: pointer;
  }
  .input {
    position: relative;
    border: 1px solid #e5e5ea;
    border-radius: 60px;
    input {
      max-width: 471px;
      height: 56px;
      box-shadow: 0px 12px 24px rgba(5, 16, 55, 0.04);
      border-radius: 60px;
      padding: 15px 24px;
      display: flex;
      align-items: center;
      border: none;
      line-height: 18px;
      font-size: 16px;
      color: #8e8e93;
    }
    .search-ico {
      position: absolute;
      bottom: 32px;
      right: 20px;
    }
  }

  ul {
    cursor: pointer;
    display: flex;
    gap: 32px;
    font-size: 16px;
    line-height: 18px;
    li {
      list-style-type: none;
      font-family: "IM Fell English SC", serif;
    }
    li:hover {
      color: #3e3eda;
    }
  }
  .cart {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0.5px solid #e5e5ea;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(5, 16, 55, 0.1);
    transition: all 1s;
  }
  .cart:hover {
    transform: rotate(180deg);
  }
  .connect {
    font-family: "IM Fell English SC", serif;
    cursor: pointer;
    width: 151px;
    height: 47px;
    padding: 16px;
    background-color: rgba(0, 122, 255, 0.12);
    color: #007aff;
    border: 0.5px solid rgba(0, 122, 255, 0.12);
    border-radius: 33px;
  }
  .connect:hover {
    background-color: rgba(0, 123, 255, 0.829);
    color: #e5ebf1;
  }
}

//card-start
.card {
  font-family: $font;
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 432px;
  gap: 23px;
  margin-bottom: 90px;
  .card-photo {
    max-width: 889px;
  }
  .card-description:hover {
    box-shadow: 0px 18px 34px rgba(5, 14, 43, 0.363);
  }
  .card-description {
    padding: 36px;
    padding-top: 0px;
    box-shadow: 0px 18px 34px rgba(5, 16, 55, 0.15);
    border-radius: 12px;
    h2 {
      font-size: 38px;
      line-height: 36px;
    }
    .card--description-avatar {
      span {
        font-size: 16px;
        line-height: 16px;
        margin-left: 8px;
      }
      margin-bottom: 16px;
    }
    .card-description-offer {
      display: flex;
      gap: 24px;
      margin-bottom: 12px;
      .price,
      .time {
        .price-1 {
          font-size: 16px;
          line-height: 24px;
        }
        .price-2 {
          font-size: 24px;
          line-height: 24px;
        }
        .price-3 {
          font-size: 16px;
          line-height: 18px;
          color: #8e8e93;
        }
      }
    }
    .card-description-btn {
      cursor: pointer;
      font-family: $font;
      background: #007aff;
      border-radius: 45px;
      font-size: 16px;
      line-height: 18px;
      border: none;
      width: 360px;
      height: 56px;
      margin-bottom: 20px;
      color: #fff;
    }
    .card-description-btn:hover {
      background: #324de6ec;
      color: rgb(245, 245, 245);
    }
    p {
      text-align: center;
      a {
        font-family: $font;
        color: #007aff;
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
      }
      a:hover {
        color: #324de6ec;
      }
    }
  }
}

//cards

.cards {
  margin-bottom: 90px;
  .cards-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 36px;
    font-family: $font;
    h5 {
      font-family: $font;
      font-size: 28px;
      line-height: 0px;
    }
    span {
      font-size: 20px;
      // line-height: 28px;

      color: #8e8e93;
    }
  }
  .cards-block {
    font-family: $font;
    display: flex;
    gap: 32px;
    .card-item {
      position: relative;
      width: 312px;
      border: 1.5px solid #e6e6e6;
      border-radius: 16px;
      .card-item-img {
        margin-bottom: 16px;
      }
      span {
        margin-left: 10px;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 48px;
      }
      .card-item-info {
        text-align: right;
        padding: 20px;
        padding-top: 0;
        p {
          font-size: 16px;
          line-height: 24px;
          color: #8e8e93;
        }
        .card-item-profile {
          font-size: 16px;
          line-height: 24px;
          color: #8e8e93;
        }

        .card-item-profile-price {
          font-size: 20px;
          line-height: 24px;
          color: #000000;
        }
      }
      .card-item-time {
        width: 105px;
        height: 36px;
        position: absolute;
        padding: 10px;
        right: 10px;
        top: 10px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 10px 30px rgba(5, 16, 55, 0.15);
        border-radius: 30px;
        span {
          font-size: 16px;
          text-align: center;
          padding-left: 10px;
          margin-left: 0px;
        }
      }
    }
  }
}

.features {
  .cards-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 36px;
    font-family: $font;
    h5 {
      font-family: $font;
      font-size: 28px;
      line-height: 0px;
    }
    span {
      font-size: 20px;
      color: #8e8e93;
    }
  }
  .cards-block {
    font-family: $font;
    display: flex;
    gap: 32px;
    .card-item {
      position: relative;
      width: 312px;
      border: 1.5px solid #e6e6e6;
      border-radius: 16px;
      .card-item-img {
        margin-bottom: 16px;
      }
      span {
        margin-left: 10px;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 48px;
      }
      .card-item-info {
        text-align: right;
        padding: 20px;
        padding-top: 0;
        p {
          font-size: 16px;
          line-height: 24px;
          color: #8e8e93;
        }
        .card-item-profile {
          font-size: 16px;
          line-height: 24px;
          color: #8e8e93;
        }

        .card-item-profile-price {
          font-size: 20px;
          line-height: 24px;
          color: #000000;
        }
      }
      .card-item-time {
        width: 105px;
        height: 36px;
        position: absolute;
        padding: 10px;
        right: 10px;
        top: 10px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 10px 30px rgba(5, 16, 55, 0.15);
        border-radius: 30px;
        span {
          font-size: 16px;
          text-align: center;
          padding-left: 10px;
          margin-left: 0px;
        }
      }
    }
  }
}

.load-more {
  margin: 40px 570px;
  font-size: 16px;
  line-height: 24px;
  width: 208px;
  height: 56px;
  border: 1px solid #aeaeb2;
  border-radius: 48px;
  background-color: #fff;
}

//footer
footer {
  padding-top: 40px;
  padding-left: 48px;
  font-family: $font;
  background-color: #000;
  .footer {
    display: flex;
    justify-content: space-between;
    padding-right: 300px;
    .footer-subscribe {
      p {
        color: #fff;
        font-size: 20px;
        line-height: 24px;
      }
      .footer-subscribe-input {
        position: relative;
        input {
          background: #2c2c2e;
          border-radius: 72px;
          width: 427px;
          height: 56px;
          border: none;
          padding-left: 20px;
          color: #fff;
        }
        button {
          cursor: pointer;
          position: absolute;
          width: 98px;
          height: 56px;
          color: #fff;
          right: 0;
          border-radius: 72px;
          background-color: #0a84ff;
          border: none;
        }
        button:hover {
          background-color: #324DE6EC;
        }
      }
    }
    .footer-menu {
      display: flex;
      color: rgba(235, 235, 245, 0.6);
      ul {
        li {
          cursor: pointer;
          list-style-type: none;
          font-family: "IM Fell English SC", serif;
        }
        li:hover{
          color: #fff;
        }
      }
    }
    img{
      margin-bottom: 34px;
    }

  }
  .footer-links{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 40px 40px;
    .footer-links-block-1{
      span{

      }
      
    }
  }
}
